<h1>Hi!</h1>

<p>
    To reset your password, please visit
    {{ url('app_reset_password', {tokenAndSelector: resetToken.token}) }}
    This link will expire in {{ resetTokenget.ExpiresAt|date('Y-m-d') }}TODO - convert to hours! hours.
</p>

<p>
    Cheers!
</p>
